* {
  margin: 0px;
  padding: 0px;
}

.s4_1 {
  position: absolute;
  width: 1366px;
  height: 1024px;
  z-index: 1;
}

.s4_2 {
  position: absolute;
  left: 130px;
  top: 54px;
  width: 1019px;
  height: 222px;
  animation: fadeInUp 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s4_3 {
  position: absolute;
  left: 122px;
  top: 341px;
  width: 1122px;
  height: 42px;
  animation: revealHorizontal 1s;
  clip: rect(0px,0px,100px,0px);
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s4_4 {
  position: absolute;
  left: 88px;
  top: 493px;
  width: 791px;
  height: 114px;
  animation: fadeInLeft 0.9s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s4_5_1 {
  position: absolute;
  left: 916px;
  top: 462px;
  width: 360px;
  height: 151px;
  animation: fadeInRight 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 3;
}


.s4_5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 360px;
  height: 151px;
  animation: flashInLoop 3s 2;
  animation-delay: 5.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s4_6 {
  position: absolute;
  left: 314px;
  top: 657px;
  width: 431px;
  height: 262px;
  animation: fadeInLeft 1s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s4_7_1 {
  position: absolute;
  left: 796px;
  top: 647px;
  width: 286px;
  height: 286px;
  animation: fadeIn 1s;
  animation-delay: 4.5s;
  animation-fill-mode: both;
  overflow: hidden;
  z-index: 2;
}

.s4_7 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 286px;
  height: 286px;
/*   animation: rotateInLoop 10s infinite linear;
  animation-delay: 0.0s;
  animation-fill-mode: both; */
  z-index: 2;
}

.s4_8 {
  position: absolute;
  left: 857px;
  top: 746px;
  width: 171px;
  height: 86px;
  animation: zoomIn 1s;
  animation-delay: 4.5s;
  animation-fill-mode: both;
  z-index: 2;
}

@-webkit-keyframes flashInLoop {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
@keyframes flashInLoop {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }
}
.animate__flashInLoop {
  -webkit-animation-name: flashInLoop;
  animation-name: flashInLoop;
}

@-webkit-keyframes rotateInLoop {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

@keyframes rotateInLoop {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.rotateInLoop {
  -webkit-animation-name: rotateInLoop;
  animation-name: rotateInLoop;
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}


@-webkit-keyframes flipInXFlash {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
	opacity: 1;
  }
  70%, 80%, 90% {opacity: 0;}
  65%, 75%, 85%, 95% {opacity: 1;}
}

@keyframes flipInXFlash {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
	opacity: 1;
  }
  70%, 80%, 90% {opacity: 0;}
  65%, 75%, 85%, 95% {opacity: 1;}
}

.flipInXFlash {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInXFlash;
  animation-name: flipInXFlash;
}

@-webkit-keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,1200px,100px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,1200px,100px,0px);
	opacity: 1;
  }
}

.revealHorizontal {
  -webkit-animation-name: revealHorizontal;
  animation-name: revealHorizontal;
}

@-webkit-keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,450px,100px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,450px,100px,0px);
	opacity: 1;
  }
}

.revealHorizontalSmall {
  -webkit-animation-name: revealHorizontalSmall;
  animation-name: revealHorizontalSmall;
}