* {
  margin: 0px;
  padding: 0px;
}

.s3_1 {
  position: absolute;
  width: 1366px;
  height: 1024px;
  z-index: 1;
}

.s3_2 {
  position: absolute;
  left: 0px;
  top: 85px;
  width: 539px;
  height: 70px;
  animation: revealHorizontalSmall 0.7s;
  clip: rect(0px,0px,100px,0px);
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s3_3_1 {
  position: absolute;
  left: 295px;
  top: 164px;
  width: 776px;
  height: 776px;
  animation: fadeIn 3s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  overflow: hidden;
  z-index: 2;
}

.s3_3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 776px;
  height: 776px;
  animation: rotateInLoop 10s infinite linear;
  animation-delay: 0.0s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3_4 {
  position: absolute;
  left: 500px;
  top: 431px;
  width: 424px;
  height: 234px;
  animation: zoomIn 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3_5_1 {
  position: absolute;
  left: 457px;
  top: 494px;
  width: 259px;
  height: 171px;
  animation: zoomIn 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3_5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 259px;
  height: 171px;
  animation: flashInLoop 3s infinite;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 2;
}

@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}


@-webkit-keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,900px,100px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,900px,100px,0px);
	opacity: 1;
  }
}

.revealHorizontal {
  -webkit-animation-name: revealHorizontal;
  animation-name: revealHorizontal;
}

@-webkit-keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,400px,100px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,400px,100px,0px);
	opacity: 1;
  }
}

.revealHorizontalSmall {
  -webkit-animation-name: revealHorizontalSmall;
  animation-name: revealHorizontalSmall;
}

@-webkit-keyframes rotateInLoop {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

@keyframes rotateInLoop {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.rotateInLoop {
  -webkit-animation-name: rotateInLoop;
  animation-name: rotateInLoop;
}

@-webkit-keyframes flashInLoop {
  from,
  50%,
  to {
    opacity: 0.5;
  }

  25%,
  75% {
    opacity: 1;
  }
}
@keyframes flashInLoop {
  from,
  50%,
  to {
    opacity: 0.5;
  }

  25%,
  75% {
    opacity: 1;
  }
}
.animate__flashInLoop {
  -webkit-animation-name: flashInLoop;
  animation-name: flashInLoop;
}