* {
  margin: 0px;
  padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1366px;
  height: 1024px;
  z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 276px;
  top: 100px;
  width: 815px;
  height: 94px;
  animation: fadeInRight 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_3 {
  position: absolute;
  left: 115px;
  top: 742px;
  width: 447px;
  height: 185px;
  animation: fadeInUp 0.7s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 5;
}

.s1_45_wrap {
  position: absolute;
  width: 322px;
  height: 85px;
  left: 536px;
  top: 810px;
  animation: revealHorizontalSmallRev 0.7s;
  clip: rect(0px,400px,100px,40px);
  animation-delay: 7s;
  animation-fill-mode: both;
  overflow: hidden;
  z-index: 4;
} 

.s1_4 {
  position: absolute;
  left: -20px;
  bottom: 5px;
  width: 337px;
  height: 10px;
  animation: revealHorizontalSmall 1s;
  clip: rect(0px,0px,100px,0px);
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_5 {
  position: absolute;
  left: 60px;
  top: 20px;
  width: 230px;
  height: 44px;
  animation: fadeInUp 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_6_wrap {
  position: absolute;
  left: 560px;
  top: 670px;
  width: 64px;
  height: 64px;
  animation: fadeInRight 0.7s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_6 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 64px;
  height: 64px;
  animation: growLeft 1s;
  animation-delay: 4.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_7 {
  position: absolute;
  left: 790px;
  top: 252px;
  width: 497px;
  height: 498px;
  animation: zoomIn 1s;
  animation-delay: 5.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_89_wrap {
  position: absolute;
  width: 850px;
  height: 110px;
  left: 536px;
  top: 785px;
  animation: revealHorizontalRev 0.7s;
  clip: rect(0px,900px,120px,40px);
  animation-delay: 12.5s;
  animation-fill-mode: both;
  overflow: hidden;
  z-index: 4;
} 

.s1_8 {
  position: absolute;
  left: -20px;
  bottom: 6px;
  width: 838px;
  height: 9px;
  animation: revealHorizontal 1s;
  clip: rect(0px,0px,120px,0px);
  animation-delay: 7.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_9 {
  position: absolute;
  left: 60px;
  top: 5px;
  width: 731px;
  height: 78px;
  animation: fadeInUp 1s;
  animation-delay: 8.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_10 {
  position: absolute;
  left: 126px;
  top: 687px;
  width: 347px;
  height: 33px;
  animation: fadeInRight 1s;
  animation-delay: 10s;
  animation-fill-mode: both;
  z-index: 2;
}

.s1_11 {
  position: absolute;
  left: 790px;
  top: 252px;
  width: 498px;
  height: 498px;
  animation: zoomIn 1s;
  animation-delay: 11.5s;
  animation-fill-mode: both;
  z-index: 5;
}

.s1_12_wrap {
  position: absolute;
  width: 322px;
  height: 85px;
  left: 536px;
  top: 810px;
  clip: rect(0px,400px,100px,40px);
/*animation: revealHorizontalSmallRev 0.7s;
  animation-delay: 14.5s;
  animation-fill-mode: both; */
  overflow: hidden;
  z-index: 4;
} 

.s1_12 {
  position: absolute;
  left: -20px;
  bottom: 5px;
  width: 337px;
  height: 10px;
  animation: revealHorizontalSmall 1s;
  clip: rect(0px,0px,100px,0px);
  animation-delay: 13s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_13 {
  position: absolute;
  left: 60px;
  top: 20px;
  width: 230px;
  height: 44px;
  animation: fadeInUp 1s;
  animation-delay: 13.5s;
  animation-fill-mode: both;
  z-index: 2;
}



@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}


@-webkit-keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,120px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,900px,120px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,120px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,900px,120px,0px);
	opacity: 1;
  }
}

.revealHorizontal {
  -webkit-animation-name: revealHorizontal;
  animation-name: revealHorizontal;
}

@-webkit-keyframes revealHorizontalRev {
  0% {
    clip: rect(0px,900px,120px,40px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,0px,120px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontalRev {
  0% {
    clip: rect(0px,900px,120px,40px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,0px,120px,0px);
	opacity: 1;
  }
}

.revealHorizontalRev {
  -webkit-animation-name: revealHorizontalRev;
  animation-name: revealHorizontalRev;
}

@-webkit-keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,400px,100px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontalSmall {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,400px,100px,0px);
	opacity: 1;
  }
}

.revealHorizontalSmall {
  -webkit-animation-name: revealHorizontalSmall;
  animation-name: revealHorizontalSmall;
}

@-webkit-keyframes revealHorizontalSmallRev {
  0% {
    clip: rect(0px,400px,100px,40px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
}
@keyframes revealHorizontalSmallRev {
  0% {
    clip: rect(0px,400px,100px,40px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
}

.revealHorizontalSmallRev {
  -webkit-animation-name: revealHorizontalSmallRev;
  animation-name: revealHorizontalSmallRev;
}


@-webkit-keyframes growLeft {
  0% {
	transform: scale(1);
	left: 0px;
	top: 0px;
  }
  
  100% {
	transform: scale(8);
	left: 446.2px;
	top: -201px;
  }
}

@keyframes growLeft {
  0% {
	transform: scale(1);
	left: 0px;
	top: 0px;
  }
  
  100% {
	transform: scale(8);
	left: 446.2px;
	top: -201px;
  }
}

.growLeft {
  -webkit-animation-name: growLeft;
  animation-name: growLeft;
}

/*-----Position for s1_6 without wrap-----*/

/* 
@-webkit-keyframes growLeft {
  0% {
	transform: scale(1);
	left: 560px;
	top: 690px;
  }
  
  100% {
	transform: scale(8);
	left: 1006px;
	top: 520px;
  }
}

@keyframes growLeft {
  0% {
	transform: scale(1);
	left: 560px;
	top: 690px;
  }
  
  100% {
	transform: scale(8);
	left: 1006px;
	top: 520px;
  }
}

.growLeft {
  -webkit-animation-name: growLeft;
  animation-name: growLeft;
} */